<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Youtube Summarizer</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/normalise.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/index.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/jquery-2.1.4.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="main-container">
            <div id="search-container" class="container">
                <img id="logo-img" src="/assets/images/logoWithSlogan.png"/>
                <form action="/watch" method="get" role="form">
                    <div class="row">
                        <div class="form-group">
                            <div id="inner-container">
                                <input id="youtube-url-textbox" class="form-control input-lg" placeholder="YouTube URL e.g. &#34;https://www.youtube.com/watch?v=12345&#34;" type="text" name="url" >
                                <input id="youtube-url-submit" name="Submit" value="Go!" type="submit" class="btn btn-default">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="footer">
                <span class="footer-text">Made with &#x2764 by BCV</span>
            </div>
        </div>
    </body>
</html>
