@(video: String)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>TLDW Video Summary</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/video.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script type="text/javascript">
            window.vvv = "@video";
        </script>

        <script src="https://www.youtube.com/iframe_api" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery-2.1.4.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/plotly-latest.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/d3.v3.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/d3.layout.cloud.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        <!--<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>-->

    </head>
    <body>
        <div class="nav">
            <a href="/">
                <img id="nav-logo" src="assets/images/logoWithSlogan.png"/>
            </a>

            <form action="/watch" method="get" role="form">
                <input id="search-bar" class="form-control input-sm" placeholder="" type="text" name="url" >
                <input id="submit-button" name="Submit" value="Go!" type="submit" class="btn btn-default">
            </form>
        </div>

        <div id="videoDiv"><!-- Youtube Video goes here --></div>

        <div id="playlist-div">
        </div>

        <div id="footnoteDiv">
            <button class="btn btn-primary" id="summarizeButton" type="button">Play Summarization</button>
            <button class="btn btn-danger" id="stopButton" type="button">Stop Summarization</button>
            <button class="btn btn-primary" id="nextButton" type="button">Next</button>
            <br />

            <span class="status-block">
                <b>Summarization Status:</b>
                <span id="summarize-status">Stopped </span>
            </span>
            <br />
        </div>
        <div id="analysis-header-div"><b>Analysis:</b></div>
    </body>
</html>
