body {
    background-color: #EDEDED;
    width: 100vw;
}

.nav {
    /*height: 6%;*/
    /*min-height: 55px;*/
    height: 55px;
    width:100%;
    background-color: white;
    padding-left: 18px;
    padding-top: 3px;

    position: fixed;
    z-index: 100;
}

.section {
    width: 100%;
    cursor: pointer;
    /*height: 50px;*/
    padding: 5px 5px;
    background-color: #1A1A1A;
    color: #BEBEBE;
    display: block;

    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

/*.sel {
    background-color: #3C3C3C;
    color: #BEBEBE;

    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}*/

.sel {
    /*height: auto;*/
    font-size: 18px;
}

.hideContent {
    height: 3em;
    overflow: hidden;
}

.hideAll {
    display: none;
}

/*.selected {

}*/

.status-block {
    display: block;
    margin-top: 10px;
}

#nav-offset {
    /*height: 6%;*/
    height: 55px;
    /*min-height: 55px;*/
    padding-left: 18px;
    padding-top: 3px;
}

#nav-logo {
    height: 50px;
    /*max-height: 100px;*/
    /*width: 125px;*/
    max-width: 250px;
    display: inline;
}

#videoDiv {
    /*width: 800px;*/
    /*height: 450px;*/
    height: 100%;
    display: inline-block;
    /*margin: 20px 0 0 20px;*/
    float: left;

    padding: 0;
}

#playlist-div {
    /*width: 400px;*/
    /*height: 450px;*/
    height: calc(100% - 55px);
    /*margin: 20px 0 0 0;*/
    display: inline-block;
    white-space: initial;
    overflow-y: scroll;
    /*overflow-x: auto;*/
    background-color: #141414;

    padding: 0;
}

#footnoteDiv {
    /*width: 800px;*/
    height: 55px;
    /*height: 10%;*/
    border: 2px solid;
    padding: 5px 5px;
    /*margin: 20px 0 20px 20px;*/
    float: left;
    vertical-align: bottom;
    display: block;
}

#analysis-header-div {
    margin-left: 20px;
    width: 100px;
}

#wordcloud-div {
    display: block;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

#histogram-div {
    width: 900px;
    height: 500px;
    display: block;
    margin: 0 auto;
}

#search-bar {
    width: 60%;
    display: inline-block;
}

#submit-button {
    display: inline-block;
}

#player-div {
    white-space: nowrap;

    height: 100%;
}

#front {
    height: 100vh;
}

.bar rect {
    fill: steelblue;
    shape-rendering: crispEdges;
}

.bar text {
    fill: #fff;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

form {
    display: inline;
}

.container-fluid {
    padding: 0;
}

.mobile-columns {
    padding: 0;
}

.mainFeature {
    height: 94%;
}

.wrapper {
    height: 100%;
}

@media all and (max-width: 500px){
    #wordcloud-div {
        display: none;
    }

    #histogram-div {
        display: none;
    }    

    #analysis-header-div {
        display: none;
    }

    #videoDiv {
        height: calc(100% - 110px);
    }
}

@media all and (max-width: 900px){
    #histogram-div {
        display: none;
    }    
}