.nav {
    height: 75px;
    width:100%;
    border-bottom: 2px solid;
}

#nav-logo {
    height: 75px;
    width: 175px;
}

#videoDiv {
    width: 800px;
    height: 450px;
    border: 2px solid;
    display: inline-block;
    margin: 20px 0 0 20px;
    float: left;
}

#playlist-div {
    border: 2px solid;
    width: 400px;
    height: 450px;
    margin: 20px 0 0 20px;
    display: inline-block;
    overflow: scroll;
}

#footnoteDiv {
    width: 800px;
    height: 100px;
    border: 2px solid;
    margin: 20px 0px 0px 20px;
    float: left;
}